/*------------------ОБЩЕЕ------------------*/
header {
    background-color: #707070;
}

footer {
    background-color: #707070;
    padding: 10px;
    text-align: center;
}

h1, h2, h3 {
    margin: 0px;
    color: white;
}

html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Roboto, sans-serif;
}

main {
    flex: 1;
    min-height: 1px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin:0;
    font-family: Roboto, sans-serif;
    background-image: url("../images/back.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/*------------------ОБЩЕЕ------------------*/
/*------------------СТРАНИЦА РЕГИСТРАЦИИ------------------*/
.register-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.75);
}


.form-field {
    display: flex;
    flex-direction: column;
}

.form-field label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-field input {
    padding: 8px;
    font-size: 14px;
    border-radius: 10px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 0px;
}
/*------------------СТРАНИЦА РЕГИСТРАЦИИ------------------*/
/*------------------ГЛАВНАЯ------------------*/
.home-container {
    /* color: black; */
    color: rgba(255, 255, 255, 0.75);
    padding: 40px;
}

.home-container h1 {
    text-align: center;
    /* color: black; */
    color: white;
}
.home-container h3,
.home-container h4{
    text-align: center;
    color: black;
}

.home-container p {
    line-height: 1.6;
    margin-bottom: 10px;
}

.center-button {
    text-align: center;
    margin: 20px 0;
    color: white;
}

.main-btn, .secondary-btn {
    background-color: #444;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.2s;
}

.main-btn:hover, .secondary-btn:hover {
    background-color: #666;
}

.intro{
    margin-top: 50px;
}

.rules{
    margin-top: 50px;
}

.rules .steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.step{
    font-size: 20px;
}

.intro p{
    font-size: 20px;
}

.catastrophes{
    margin-top: 50px;
}

.catastrophe-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
    color: white;
}

.catastrophe img {
    width: 100%;          
    height: auto;         
    border-radius: 10px;
    margin-top: 10px;
    display: block;
    object-fit: cover;    
    max-height: 250px;
}

.catastrophe {
    background: #7a7a7aa8;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}

.features{
    margin-top: 50px;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    color: white;
}

.feature {
    background: #7a7a7aa8;
    border-radius: 8px;
    padding: 15px;
    max-width: 300px;
    text-align: center;
}

.quote {
    margin-top: 40px;
    text-align: center;
    font-style: italic;
    font-size: 1.2em;
    color: black;
}
/*------------------ГЛАВНАЯ------------------*/
/*------------------ПРАВИЛА------------------*/
.rules-page{
    background: #5e5e5ea8;
}
.rule-image {  
    border-radius: 12px; 
    max-width: 100%;
    height: auto; 
}
/*------------------ПРАВИЛА------------------*/
/*------------------Создание комнаты------------------*/
.container p{
    color: white;
}

.row{
    margin-top: 20px;
}

.blockContainer{
    display: flex;
}

.card{
    background: none;
    border-radius: 20px;
}

.card-body{
    background: #7a7a7aa8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-header{
    background-color: #313131;
}

.rangeInfo{
    color: rgba(255, 255, 255, 0.75);;
}
/*------------------Создание комнаты------------------*/
/*------------------Страница игры------------------*/
.container-fluid p{
    color: white;
}

#openSidebar {
    position: absolute; /* фиксируем относительно окна */
    /* top: 80px;       отступ сверху от верхнего края экрана */
    left: 15px;      /* отступ слева */
    z-index: 1100;   /* выше всего контента */
}

.sidebar {
    position: absolute;
    top: 77px;
    left: -300px;
    width: 300px;
    height: calc(100vh - 77px);
    background: #1f1f1f;
    color: #fff;
    padding: 20px;
    z-index: 1200;
    transition: left 0.3s ease;
    box-shadow: 4px 0 10px rgba(0,0,0,0.3);
    overflow-y: auto;
}

.sidebar.open {
    left: 0;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.sidebar-body p {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 8px;
    margin-bottom: 12px;
}

.confirm-modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 2000;
}

.confirm-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    margin: 150px auto;
}

.bunker-card.crossed {
    text-decoration: line-through;
    opacity: 0.5;
}

.btn-xs {
    padding: 4px 4px;
    font-size: 14px;
    line-height: 1;
}
/*------------------Страница игры------------------*/
.pagination .page-link {
    background-color: #343a40; /* темно-серый фон */
    border: 1px solid #495057;
    color: #fff;
}

.pagination .page-link:hover {
    background-color: #495057;
    color: #fff;
}

.pagination .page-item.active .page-link {
    background-color: #74abff; /* синий Bootstrap или поставь свой */
    border-color: #74abff;
    color: #fff;
}

.pagination .page-item.disabled .page-link {
    background-color: #2c2f33;
    border-color: #3a3d40;
    color: #777;
}

.accordion-item {
    border: none !important;
}

.accordion-header {
    border: none !important;
}

/* У кнопки */
.accordion-button {
    border: none !important;
    box-shadow: none !important;
}

.accordion-button::after {
    display: none;
}